[submodule "frankenterm/deps-freetype/freetype2"]
	path = frankenterm/deps-freetype/freetype2
	url = https://github.com/freetype/freetype2.git
[submodule "frankenterm/deps-freetype/libpng"]
	path = frankenterm/deps-freetype/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "frankenterm/deps-freetype/zlib"]
	path = frankenterm/deps-freetype/zlib
	url = https://github.com/madler/zlib.git
[submodule "frankenterm/deps-harfbuzz/harfbuzz"]
	path = frankenterm/deps-harfbuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
